# Python virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter temporary files
.ipynb_checkpoints/

# Raw dataset - do not upload
data/raw/

# Large generated datasets
data/processed/MASTER_STATE_YEAR_INTEGRATED.csv

# OS files
.DS_Store
Thumbs.db

# VS Code local settings
.vscode/